*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Don't include cdk context with account info
cdk.context.json

# avoid python local test files that may need to export secrets to local env
pytest.sh